# Credenciales de Seguridad
API_KEY=API_KEY_VALUE
JWT_SECRET=JWT_SECRET_VALUE

# Configuración de Red para el Script de Test
# Si se encuentra localmente usa localhost. Si se testea desde fuera, usar la IP.
APP_HOST=localhost
APP_PORT=80